# Ignorar archivos generados por el sistema
/.vscode
/.idea
/.phpstorm.meta.php

# Ignorar archivos de dependencias de Composer
/vendor

# Ignorar archivos de caché o temporales
/cache
/logs
/tmp

# Ignorar archivos de configuración local
.env

# Ignorar archivos de sesiones
/sessions
